<a href="https://colab.research.google.com/github/imran201khan/MachineLearning-from-Basic-/blob/main/KNN_Imputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('/content/train.csv')[['Age','Pclass','Fare','Survived']]

In [3]:
df.sample(5)

      Age  Pclass     Fare  Survived
624  21.0       3  16.1000         0
709   NaN       3  15.2458         1
356  22.0       1  55.0000         1
818  43.0       3   6.4500         0
428   NaN       3   7.7500         0

In [8]:
df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.23,random_state=0)

In [17]:
KNN=KNNImputer(n_neighbors=3,weights='distance')

In [18]:
x_test_trf=KNN.fit_transform(x_test)
x_train_trf=KNN.fit_transform(x_train)

In [19]:
LR=LogisticRegression()
LR.fit(x_train_trf,y_train)

LogisticRegression()

In [20]:
y_pred=LR.predict(x_test_trf)
y_pred

array([0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0])

In [21]:
accuracy_score(y_test,y_pred)

0.7219512195121951

In [22]:
imp=SimpleImputer()

In [24]:
x_train_trf2=imp.fit_transform(x_train)
x_test_trf2=imp.fit_transform(x_test)

In [26]:
Lr=LogisticRegression()
Lr.fit(x_train_trf2,y_train)

LogisticRegression()

In [28]:
y_pred=Lr.predict(x_test_trf2)

In [30]:
accuracy_score(y_test,y_pred)

0.7121951219512195